/.vs
/.vscode
/.vscode
*.vsidx
*.tlog
*.pdb
*.sys
*.cer
*.recipe
*.ipch
*.log
/asbel/CallbackEnum/.vs
/asbel/SSDTEnum/.vs
/asbel/Enumerator/callbackEnum/x64
/asbel/Enumerator/.vs
/asbel/Enumerator/x64
/asbel/Enumerator/client_callbackEnum/x64
